/* Reset básico */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 7vh;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

span{
  color: red;
}
header .interface {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
}

header a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  transition: 0.2s;
}

header a:hover {
  color: red;
  transform: scale(1.05);
}

.login-box a {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.2s;
}

.login-box a:hover {
  background-color: darkred;
  transform: scale(1.05);
}